<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>檢視全部</title>
    <style>
        body{
            margin: 40px;

    font-family: "微軟正黑體";
    text-decoration: none;
    }
    a{
    text-decoration: none;
    color: #000;
    }
    table{
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #212529;
  color: white;
}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link ref="stylesheet" type="text/css" href="{% static 'css/style.css' %} " charset="utf-8">

</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="index">上大學並沒有比較輕鬆</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="history.back();"> Back <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div style="height:100px; top:0%"></div>
<table>
    <th>科系代碼</th>
    <th>學校代碼</th>
    <th>科系名稱</th>

    {% for d in dpt %}

    <tr>
        <td>
            {{ d.id }}
        </td>

        <td> <a href="/uni/{{d.university_id}}">
            {{d.university_id}}
            </a>

        </td>

        <td>
            <a href=" /dprt/{{d.id}}">
                {{ d.name }}
            </a>
        </td>
    </tr>


    {% endfor %}
</table>
</body>
</html>