<!doctype html>
<html>
<title>大學生77</title>
    <style>
        body{
          text-decoration: none;
          font-family: "微軟正黑體";
        }
        .index_button{
          border:0;
          background-color:#003C9D;
          border-radius:10px;
          cursor:pointer;
          height: 100px;
          width: 160px;
          display: inline-block;
          text-align:center;
          line-height:100px;
          margin:10px;
          text-decoration: none;
          color:#FFF;
        }

    </style>
<head></head>
<body>
<h3>上大學並沒有比較輕鬆</h3>




<a class="index_button" href="search_uni/">依學校查詢</a>
<a class="index_button" href="search_apt/">依科系查詢</a>
<a class="index_button" href="search_gp/">依學群查詢</a>
<br>
<a class="index_button" href="list_all/">看全部</a>



</body>
</html>